.top-title{
	width:100%;
	font-size:25px;
	margin:22px 0 22px 30px;
	color:#333;
	font-weight:bold;
}
.top-contents{
	width:100%;
	font-size:13px;
	margin-left:65px;
	color:#333;
}
.futoji{
	font-weight:bold;
}
.top-contents p{
	margin-bottom:30px;
}
.top-link{
	color:#333;
}